{% extends 'mainpage_template.html' %}
{% block body1 %}
    <style>
  .list-group-item {
    border-bottom: 2px solid #ccc; 
    margin-bottom: 10px; 
  }
</style>
    
    {% if target %}
    <form action="" method="post">
    <p>Search users to add them as your friends </p>
    <input class="form-control me-2" type="search" 
           placeholder="Search" aria-label="Search" name="email">
        <div></div>
            <br>
    <button class="btn btn-outline-success" type="submit">
        Search</button>
        <br> <br>
        <p>The target user you want to find is {{ target }}, do you want to add him?</p>
    </form>
        <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ target.email }}">
            <button class="btn btn-outline-success" type="submit" name="add" value="add">add</button>
        </form>
        <br>
        {{ error2 }}
        
        {% elif error %}
            <form action="" method="post">
    <p>Search users to add them as your friends </p>
    <input class="form-control me-2" type="search" 
           placeholder="Search" aria-label="Search" name="email">
                    <br>
    <button class="btn btn-outline-success" type="submit">
        Search</button>
                <br>
                <p>Sorry, the user you input does not exist, please try again?</p>
    </form>
        
        
        {% else %}
               <form action="" method="post">
       <p>Search users to add them as your friends </p>
    <input class="form-control me-2" type="search" 
           placeholder="Search" aria-label="Search" name="email">
    <br>
    <button class="btn btn-outline-success" type="submit">
        Search</button>
    </form>
        <br>
              {% include 'friendlist.html' %}
    {% endif %}



{% endblock %}